body {
  background-color: rgb(222, 220, 254);
}
header {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  text-align: center;
}
main {
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: orange;
  background-color: rgb(4, 1, 80);
  color: white;
}
footer {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 30px;
}
