body {
  background-color: #a6cdc6;
  font-family: "Roboto", serif;
}
form {
  background-color: #dda853;
  max-width: 600px;
  margin: 50px auto 20px;
  padding: 30px;
  border-radius: 15px;
  display: flex;
}
.search-input {
  background-color: #f9f7fe;
  color: #b2b2b3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 80%;
  font-size: 16px;
}
.search-button {
  background-color: #16404d;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  width: 20%;
}
.weather-container {
  background-color: #fbf5dd;
  max-width: 600px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: #16404d;
}
.city {
  color: #16404d;
  font-size: 40px;
}
.current-conditions {
  background-color: #16404d;
  color: white;
  max-width: 580px;
  margin: 10px auto;
  padding: 10px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}

.temperature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-temperature {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.temperature-value {
  color: #dda853;
  font: bold;
  font-size: 50px;
}
.temperature-unit {
  margin-top: 7px;
  color: #dda853;
  font: bold;
  font-size: 20px;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.weather-details {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-values {
  color: #dda853;
}

footer {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 30px;
  color: #16404d;
  font-size: 15px;
}
a {
  color: #dda853;
  font: bold;
}
